h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  color: #4d5ae5;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-transform: uppercase;
  margin-right: 76px;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo-accent {
  color: #2e2f42;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav-list {
  display: flex;
  gap: 40px;
}

.header__contacts {
  font-style: normal;
}

.header__contacts-list {
  display: flex;
  gap: 40px;
}

.header__contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.header__contacts-link:hover,
.header__contacts-link:focus {
  color: #404bbf;
}

.hero {
  background-color: #2e2f42;
  padding: 188px 0;
  text-align: center;
}

.hero__title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 48px;
  max-width: 496px;
}

.hero__button {
  display: block;
  min-width: 169px;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.hero__button:hover,
.hero__button:focus {
  background-color: #404BBF;
}

.section__title {
  margin-bottom: 72px;
}

.features__list {
  display: flex;
  gap: 24px;
}

.features__item {
  flex-basis: calc((100% - 72px) / 4);
}

.features__item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.features__item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

img {
  display: block;
}

.team {
  background-color: #F4F4FD;
}

.team__list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}

.team__item {
  background-color: #FFFFFF;
  flex-basis: calc((100% - 72px) / 4);
  text-align: center;
  padding: 32px 0;
  border-radius: 0px 0px 4px 4px;
}

.team-card {
  padding: 32px 0;
}

.team__name {
  text-align: center;
  margin-bottom: 72px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team__role {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio__item {
  width: calc((100% - 48px) / 3);
}

.portfolio-card {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio__item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-top: 8px;
  margin-bottom: 8px;
}

.portfolio__item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
  text-align: center;
}

.footer__logo{
  display: inline-block;
  margin-bottom: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer__logo-accent {
  color: #f4f4fd;
}

.footer__text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  margin-top: 16px;
}